@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

body{
    margin: 0;
    font-family: 'Play', sans-serif;
}
.pokeball{
    opacity: 0.15;
    position: absolute;
    width: 600px;
    left: -300px;
    top:  -10px;
    animation: rotation 60s infinite linear;  
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3c59a5;
    padding: 5px;
    color: #fff;
    height: 30px;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
a{
    text-decoration: none;
    color: #fff;
}
.logo{
    display: flex;
    justify-content: center;
}
.logo > img{
    padding: 45px 30px 30px 30px;
    width: 18%;
}
.search{
    display: flex;
    justify-content: center;
}
button{
    padding: 10px;
    width: 5%;
    border: none;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background: #fff;
    box-shadow: 2px 0px 10px 0px rgb(0 ,0 ,0,.09);
}
.search > button > img{
    width: 30%;
    fill: #333;
}
button:hover,.play-button > img:hover{
    cursor: pointer;
}
input{
    outline: none;
    border:none;
    padding: 3px;
    width: 20%;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
    background: #fff;
    box-shadow: 2px 0px 10px 2px rgb(0 ,0 ,0,.09);
    padding-left: 15px;
    color: #333;
    font-family: 'Play', sans-serif;
}
.fa{
    transform: rotate(90deg);
    color: #435FA7;
}
.pokedex{
    margin-top: 5%;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.box1{
    width: 13%;
    height:250px;
    border-bottom-left-radius: 32px;
    border-top-left-radius: 32px;
}
.box1 > h3 {
    font-size: 1em;
}
.type-1{
    margin: 0;
}
.box2{
    width: 22%;
    height:300px;
    background: #fff;
    z-index: 1;
    border-radius: 32px;
    box-shadow: 2px 2px 10px 2px rgb(0 ,0 ,0,.09);
    display: inline-block;
    justify-content: center;
}
.box2 > #div0{
    padding-top: 1.5%;
}
.box2 > div{
    margin-left: 15%;
    width: 70%;
}
.box2 > div > p > span{
    float: right;
    color: #333;
}
.box3{
    width: 13%;
    height:250px;
    border-bottom-right-radius: 32px;
    border-top-right-radius: 32px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.box3 > div > p > span{
    float: right;
}
h3{
    text-align: center;
    color: #333;
    margin: 10px
}
.poke-type{
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 20px;
}
.poke-type > div{
    padding: 1px 15px;
    background: rgba(255,255,255,.2);
    border-radius: 16px;
    color: #333;
}
.poke-type div + div{
    margin-left: 10px;
}
.box1 >p, .poke-atributte > p{
    font-size: .9em;
    margin: 0;
    color: #333;
}
.box3 > div{
    padding-left: 20px;
}
.poke-atributte{
    width: 100%;
}
.poke-atributte > p > span{
    margin-right: 15%;
    padding: 0px 5px;
    color: #333;
    background: rgba(255,255,255,.2);
    border-radius: 32px;
}
.poke-img{
    display: flex;
    justify-content: center;
}
.poke-photo{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 150px;
    margin-bottom: 20px;
}
.box2 > div > p{
    color: #999;
}
#attr0{
    padding-top: 10%;
}
#attr5{
    padding-bottom: 10%;
}
.box-info{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 3%;
    text-align: justify;
}
.info{
    width: 60%;
}
.info > h2{
    font-weight: 700;
    color: #435FA7;
    font-size: 2.5em;
}
.info > p{
    color: #666;

}
.footer-stripe{
    height: 100px;
    width: 100%;
    background: black;
    margin-top: 8%;
}
footer{
    padding: 10px;
    margin-top: 1%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 1em;
    color: #999;
}
.play-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
}
.play-button > img{
    margin-top: 2%;
    position: absolute;
    width: 15%;
}
.footer-text{
    display: flex;
    width: 60%;
    height: 100px;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    color: #fff;
    font-size: 2.5em;
    font-weight: 700;
}
#modal {
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1; /* sit on top of other things */ 
	overflow: auto;
	display: none;
}

#modal-textbox {
	background-color: #fff;
	height: 350px;
	width: 550px;
	/*border-radius: 2px;*/
    border-radius: 32px;
	margin: 70px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
	padding: 2%;
	line-height: 120%;
}
#modal-textbox > a{
    font-size: .8em;
    padding: 3px;
    float: right;
    color: #333;
    border: 1px solid #333;
    border-radius: 32px;
}

@keyframes rotation {
    0%{
        transform: rotate(0deg);

    }
    100%{
        transform: rotate(359deg);
    }

}
@media (min-width: 768px){

}